<div class="col text-center animated fadeIn">
    <div class="card h-100">
        <img [src]="heroe.img" class="card-img-top " [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">Tarjeta {{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>

        </div>
        <button type="button" (click)="verHeroe()" class="btn  btn-outline-primary btn-block">
            Ver más ...
        </button>
        <!-- <a type="button" [routerLink]="['/heroe',i]" class="btn  btn-outline-primary btn-block">
            Ver más ...
        </a> -->
        <div class="card-footer">
            <small class="text-muted">Casa: {{heroe.casa}} - {{heroe.aparicion}}</small>
        </div>
    </div>
</div>